<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net47" developmentDependency="true" />
  <package id="Catel.Core" version="5.3.0-beta0001" targetFramework="net47" />
  <package id="Catel.Fody" version="2.20.0" targetFramework="net47" developmentDependency="true" />
  <package id="Catel.MVVM" version="5.3.0-beta0001" targetFramework="net47" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net47" />
  <package id="Fody" version="2.4.1" targetFramework="net47" developmentDependency="true" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.8.1" targetFramework="net47" developmentDependency="true" />
  <package id="MethodTimer.Fody" version="2.0.2" targetFramework="net47" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.7.1" targetFramework="net47" developmentDependency="true" />
  <package id="Obsolete.Fody" version="4.3.7" targetFramework="net47" developmentDependency="true" />
  <package id="Orc.Controls" version="2.0.8" targetFramework="net47" />
  <package id="Orc.FileSystem" version="2.0.0" targetFramework="net47" />
  <package id="Orc.LogViewer" version="2.0.0" targetFramework="net47" />
  <package id="PublicApiAnalyzer" version="1.0.0-alpha001" targetFramework="net47" developmentDependency="true" />
  <package id="WpfAnalyzers" version="2.1.2.0" targetFramework="net47" developmentDependency="true" />
</packages>