<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.4.0" targetFramework="net40" />
  <package id="Catel.Extensions.Controls" version="4.4.0" targetFramework="net40" />
  <package id="Catel.MVVM" version="4.4.0" targetFramework="net40" />
  <package id="Fody" version="1.29.3" targetFramework="net4" developmentDependency="true" />
  <package id="MethodTimer.Fody" version="1.15.8.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="ModuleInit.Fody" version="1.5.8.0" targetFramework="net4" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" />
  <package id="Orc.Controls" version="1.2.0" targetFramework="net40" />
</packages>