<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.1.0-unstable0098" targetFramework="net40" />
  <package id="Catel.Extensions.Controls" version="4.1.0-unstable0098" targetFramework="net40" />
  <package id="Catel.Fody" version="2.5.0-unstable0002" targetFramework="net40" developmentDependency="true" />
  <package id="Catel.MVVM" version="4.1.0-unstable0098" targetFramework="net40" />
  <package id="Fody" version="1.27.1" targetFramework="net40" developmentDependency="true" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.4.0" targetFramework="net40" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.0.1-ALPHA005" targetFramework="net40" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net40" />
  <package id="MethodTimer.Fody" version="1.15.2.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net40" developmentDependency="true" />
  <package id="Obsolete.Fody" version="3.1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>