<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.4.0" targetFramework="net45" />
  <package id="Catel.Extensions.Controls" version="4.4.0" targetFramework="net45" />
  <package id="Catel.Fody" version="2.12.0" targetFramework="net45" developmentDependency="true" />
  <package id="Catel.MVVM" version="4.4.0" targetFramework="net45" />
  <package id="Fody" version="1.29.3" targetFramework="net45" developmentDependency="true" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.7.0" targetFramework="net45" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.5.8.0" targetFramework="net45" developmentDependency="true" />
  <package id="Orc.Controls" version="1.2.0" targetFramework="net45" />
</packages>