<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net45" developmentDependency="true" />
  <package id="Catel.Core" version="5.0.0-beta0003" targetFramework="net45" />
  <package id="Catel.Fody" version="2.17.0" targetFramework="net45" developmentDependency="true" />
  <package id="Catel.MVVM" version="5.0.0-beta0003" targetFramework="net45" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net45" />
  <package id="Fody" version="2.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.8.1" targetFramework="net45" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Orc.Controls" version="2.0.0-unstable0002" targetFramework="net45" />
  <package id="Orc.FileSystem" version="2.0.0-unstable0001" targetFramework="net45" />
  <package id="PublicApiAnalyzer" version="1.0.0-alpha001" targetFramework="net45" developmentDependency="true" />
  <package id="WpfAnalyzers" version="0.2.7.10" targetFramework="net45" developmentDependency="true" />
</packages>