<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.2.1208302055-beta" targetFramework="net40" />
  <package id="Catel.Extensions.Controls" version="3.2.1208302055-beta" targetFramework="net40" />
  <package id="Catel.Extensions.Prism" version="3.2.1208302055-beta" targetFramework="net40" />
  <package id="Catel.MVVM" version="3.2.1208302055-beta" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="OxyPlot.Wpf" version="2012.3.129.1" targetFramework="net40" />
  <package id="Prism" version="4.1.0.0" targetFramework="net40" />
</packages>