<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Example\Orchestra.Example\packages.config" />
  <repository path="..\src\Orchestra.Controls\Orchestra.Controls\packages.config" />
  <repository path="..\src\Orchestra.Core\Orchestra.Core\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.Core\packages.config" />
</repositories>