<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Examples\Orchestra.Examples.MahApps\Orchestra.Examples.MahApps.NET40\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.MahApps\Orchestra.Examples.MahApps.NET45\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.Ribbon.Fluent\Orchestra.Examples.Ribbon.Fluent.NET40\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.Ribbon.Fluent\Orchestra.Examples.Ribbon.Fluent.NET45\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.Ribbon.Microsoft\Orchestra.Examples.Ribbon.Microsoft.NET40\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.Ribbon.Microsoft\Orchestra.Examples.Ribbon.Microsoft.NET45\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.TaskRunner\Orchestra.Examples.TaskRunner.NET40\packages.config" />
  <repository path="..\src\Examples\Orchestra.Examples.TaskRunner\Orchestra.Examples.TaskRunner.NET45\packages.config" />
  <repository path="..\src\Orchestra.Core\Orchestra.Core\Orchestra.Core.NET40\packages.config" />
  <repository path="..\src\Orchestra.Core\Orchestra.Core\Orchestra.Core.NET45\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.MahApps\Orchestra.Shell.MahApps.NET40\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.MahApps\Orchestra.Shell.MahApps.NET45\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.Ribbon.Fluent\Orchestra.Shell.Ribbon.Fluent.NET40\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.Ribbon.Fluent\Orchestra.Shell.Ribbon.Fluent.NET45\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.Ribbon.Microsoft\Orchestra.Shell.Ribbon.Microsoft.NET40\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.Ribbon.Microsoft\Orchestra.Shell.Ribbon.Microsoft.NET45\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.TaskRunner\Orchestra.Shell.TaskRunner.NET40\packages.config" />
  <repository path="..\src\Orchestra.Shell\Orchestra.Shell.TaskRunner\Orchestra.Shell.TaskRunner.NET45\packages.config" />
  <repository path="..\src\Orchestra.Tests\Orchestra.Tests\Orchestra.Tests.NET40\packages.config" />
  <repository path="..\src\Orchestra.Tests\Orchestra.Tests\Orchestra.Tests.NET45\packages.config" />
</repositories>