<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orchestra.Examples.OxyPlotConsumer\packages.config" />
  <repository path="..\src\Orchestra.Library\packages.config" />
  <repository path="..\src\Orchestra.Modules.Browser\packages.config" />
  <repository path="..\src\Orchestra.Modules.DataGrid\packages.config" />
  <repository path="..\src\Orchestra.Modules.OxyPlot\packages.config" />
  <repository path="..\src\Orchestra.Modules.PlotDemo\packages.config" />
  <repository path="..\src\Orchestra.Shell\packages.config" />
  <repository path="..\src\Orchestra.Test\packages.config" />
  <repository path="..\src\Orchestra\packages.config" />
  <repository path="..\src\OxyPlot.Library\packages.config" />
</repositories>