<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.9.0.1406111340-beta" targetFramework="net40" />
  <package id="Catel.Extensions.Controls" version="3.9.0.1406111340-beta" targetFramework="net40" />
  <package id="Catel.MVVM" version="3.9.0.1406111340-beta" targetFramework="net40" />
</packages>