<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="3.1.1206182014-beta" />
  <package id="Catel.Extensions.Controls" version="3.1.1206182014-beta" />
  <package id="Catel.Extensions.Prism" version="3.1.1206182014-beta" />
  <package id="Catel.Fody" version="0.1.0.0" />
  <package id="Catel.MVVM" version="3.1.1206182014-beta" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="Prism" version="4.1.0.0" />
</packages>